<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Landing Page - Start Bootstrap Theme</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Custom styles for this template -->
    <link href="css/landing-page.min.css" rel="stylesheet">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="/">
                    <img src="img/nav.png" style="width:40px;" alt="Barış"/>
                </a>
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Anasayfa <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/DetectorWebcam">WebCam</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/DetectorStream">Uplaod Video</a>
                    </li>
                </ul>
            </div>    
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <video id="video" height="480" autoplay style="max-width:640px;border:1px dashed #000;margin-top: 30px;"></video>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-block btn-primary" id="startCamera" style="max-width:640px;margin:0 auto;">Start Camera</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center" style="padding-top:30px;">
				<h3 style="color:green" class="result">ŞİDDET YOK</h3>
				<div class="box-fight">
				</div>
                <canvas id="canvas" width="640" height="480" style="visibility:hidden;"></canvas>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="footer bg-light" style="padding:20px 0px;text-align:center;">
        <div class="container">
            <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2019. All Rights Reserved.</p>
        </div>
    </footer>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="js/socket.io.min.js"></script>

	<script type="text/javascript">
		var socket = io.connect('http://' + document.domain + ':' + location.port);
		socket.on( 'connect', function(){});
		var video = document.getElementById('video');
		var canvas = document.getElementById('canvas');
		var context = canvas.getContext('2d');
		var frames=[];
		var maxFrames=1000;
		var img;
		var counter=0;
		var counterResponse=0;
		var isHasCome=false;
		var globalMesaj="";

		function sendFrames(){
			if(frames.length >= 10){
				socket.emit('SocketDetectorWebcam',{
					data: frames
				});
				isReceiveResponse=false;
				frames=[];
			}else{
				setTimeout(sendFrames,2000);
			}
		}
		function setFrames(){
			setTimeout(function(){ 
				context.drawImage(video, 0, 0, 640, 480);
				img = canvas.toDataURL("image/jpeg");
				var now=new Date();
				var frameData={
					img:img,
					time:now.getHours()+":"+now.getMinutes()+":"+now.getSeconds()
				};
				if(frames.length>=maxFrames){
					frames.shift();
				}
				frames.push(frameData);
				setFrames();
			}, 100);
		}
		socket.on('SocketDetectorState',function(message){
            if(message.isFight=="true"){
                	
			}else{
                $(".result").text("ŞİDDET YOK");
                $(".result").css("color","green");
            }
		});
		socket.on('SocketDetectorComplete',function(message){
			if(message.isStarted=="1"){
				$(".result").text("ŞİDDET VAR");
            	$(".result").css("color","red");
				if(message.isDone=="true"){
					$(".box-fight").prepend('- <span style="color:red">'+message.message+'</span><br/>');
				}else if(message.isDone=="false"){
					$(".box-fight").prepend('Şiddet Zamanı : <span style="color:red">'+message.message+'</span>');
				}
			}else if(message.isStarted=="0"){
				$(".result").text("ŞİDDET YOK");
            	$(".result").css("color","green");
			}
			
            /*
			$(".resultDetector").append(message.message+"<br>");
			counterResponse++;
			console.log("Alinan cevap sayisi:"+counterResponse);
			if(message.isDone=="true"){
				globalMesaj=message.message;
				isHasCome=true;
				sendFrames();
            }
            */
		});
		$(document).ready(function(){
			$('#startCamera').click(function(){
				var status=false;
				// Kamerayi aktiflestir!
				if(navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
					navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
						video.srcObject = stream;
						video.play();
						setFrames();
						setTimeout(sendFrames,2000);
					});
				}
				else if(navigator.getUserMedia) { 
					// Standard
					navigator.getUserMedia({ video: true }, function(stream) {
						video.src = stream;
						video.play();
						setFrames();
						setTimeout(sendFrames,2000);
					}, errBack);
				} else if(navigator.webkitGetUserMedia) { 
					// WebKit-prefixed
					navigator.webkitGetUserMedia({ video: true }, function(stream){
						video.src = window.webkitURL.createObjectURL(stream);
						video.play();
						setFrames();
						setTimeout(sendFrames,2000);
					}, errBack);
				} else if(navigator.mozGetUserMedia) { 
					// Mozilla-prefixed
					navigator.mozGetUserMedia({ video: true }, function(stream){
						video.srcObject = stream;
						video.play();
						setFrames();
						setTimeout(sendFrames,2000);
					}, errBack);
				}
			});
		});
	</script>
</body>
</html>
